.hero{
  height: 100vh;
  width: 100vw;
  background-color: #293c3aBF;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1.hero-title{
  margin: 0;
  color: #f7f9f8
}

p.hero-subtitle{
  color: #f7f9f8;
  font-size: 1.5rem;
  margin-top: 16px;
}

.hero-img {
  max-width: 100%;
  /* opacity: 80%; */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

