div.nav {
  position: fixed;
  height: 300px;
  left: 48px;
  top: calc(50vh - 72px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f7f9f8;
  border: 1px solid #f7f9f8;
  border-radius: 24px;
  z-index: 1;
}

.nav p {
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.nav p.active {
  text-decoration: underline;
  opacity: 1;
}