div.nav {
  position: fixed;
  width: 100px;
  height: 300px;
  left: 40px;
  top: calc(50vh - 72px);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f7f9f8;
  border: 1px solid #f7f9f8;
  border-radius: 24px;
  z-index: 1;
  box-sizing: border-box;
}

.nav p {
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  text-align: center;
}

.nav p.active {
  text-decoration: underline;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  div.nav {
    top: 20px;
    width: 80%;
    height: unset;
    flex-direction: row;
    padding: 12px 24px;
  }

  .nav p {
    margin: 0;
  }
}