.services {
  height: 100vh;
  width: 100vw;
  background-color: #293c3a;
  color: #f7f9f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-list {
  width: 80%;
}

.service {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f7f9f8;
}

.service-name {
  width: 20%;
}

.service-price {
  width: 20%;
}

.service-description {
  width: 50%;
}