.services {
  height: 100vh;
  width: 100vw;
  background-color: #293c3a;
  color: #f7f9f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-list {
  padding-left: 180px;
  padding-right: 180px;
}

.service {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f7f9f8;
}

.not-active-service {
  filter: blur(1px);
}

.service-name {
  width: 20%;
}

.service-price {
  width: 20%;
}

.service-description {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .services {
    height: unset;
  }

  .services-list {
    padding: unset;
    width: 80%;
  }
  
  .service {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service-name {
    width: 40%;
  }
  
  .service-price {
    width: 40%;
    text-align: end;
  }

  .service-description {
    width: 100%;
    margin-top: 0;
  }
}